h1{
    
    background-color:#F3F7FA;
    text-align: center;
    color: rgb(168, 21, 197);
}

h2{
    background-color:floralwhite;
    text-align: center;
    color: rgb(197, 21, 89);
   
}
h3{
    background-color:#f7f6fae7;
    text-align: center;
    color: rgb(14, 241, 147);
    


}
h4{
    background-color:#f6f5fa;
    text-align: center;
    color: rgb(20, 223, 212);
    
}




    
