h1{
    
    background-color:#F3F7FA;
    text-align: center;
    color: rgb(53, 21, 197);
}

h2{
    background-color:floralwhite;
    text-align: center;
    color: rgb(53, 21, 197);
   
}
h3{
    background-color:#f7f6fae7;
    text-align: center;
    color: rgb(8, 137, 243);
    


}
h4{
    background-color:#f6f5fa;
    text-align: center;
    color: rgb(19, 29, 167);
    
}




    
